<div class= "container  my-3">
  <div class="row">
    <div class="jumbotron col-sm">
      <h1 class= "display-4" >About This App</h1>
      <p>This is a simple hero unit, a simple
      jumbotron-style component for calling extra attention to featured content or information.
    </p>
      <hr class= "my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class= "btn btn-primary btn-1g" href="#"
      role= "button">Learn more</a>
  </div>
  </div>

</div>
